<body>
    <p>users works!</p>

    <section class= "user-list">
        <h2>Gestión de Usuarios</h2>
        <button  (click)="onAddUser()">Añadir Usuarios</button>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="letuser of user">
                    <td>{{user.id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td>
                        <button (click)="onEditUser(user)">Editar</button>
                        <button (click)="onDeleteUser(user.id)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>



